Source: latex-qrrechnung
Section: tex
Build-Depends: debhelper (>= 12),
               tex-common,
               texlive-xetex,
               texlive-fonts-recommended,
               latexmk,
               git,
Priority: optional
Maintainer: Benedikt Trefzer <benedikt.trefzer@cirrax.com>
Standards-Version: 4.5.1

Package: latex-qrrechnung
Architecture: all
Depends: texlive-latex-recommended, texlive-fonts-extra, ${misc:Depends}
Description: This LaTeX package gives you the possibility to create a qr-bill 
 with XeLaTeX. Th qr-bill is used in Switzerland and Switzerland only!
 .
 The QR-bill replaces the red and orange payment slips used in Switzerland
 for years.
