#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#PACKAGE = latex-qrrechnung

#DOCDIR = $(CURDIR)/debian/$(PACKAGE)/usr/share/doc/texmf
#TEXMF = $(CURDIR)/debian/$(PACKAGE)/usr/share/texmf

%:
	dh $@ --with tex

override_dh_auto_build: 
	latexmk --pdf -xelatex qrrechnung-definitions.dtx
	latexmk --pdf -xelatex qrrechnung-output.dtx
	latexmk --pdf -xelatex qrrechnung-swico.dtx
	latexmk --pdf -xelatex qrrechnung-translations.dtx
	latexmk --pdf -xelatex qrrechnung.dtx

clean:
	rm -f *.aux
	rm -f *.dvi
	rm -f *.fdb_latexmk
	rm -f *.fls
	rm -f *.glo
	rm -f *.hd
	rm -f *.idx
	rm -f *.ilg
	rm -f *.ind
	rm -f *.ins
	rm -f *.log
	rm -f *.out
	rm -f *.sty
